.ipynb_checkpoints
*.DS_Store
.idea
/ml-20m
/ml-25m
/._ml-20m
/._ml-25m
*.pyc
src/__pycache__/
*.pkl
!adam_ratings.pkl
*.csv
!movies_to_be_rated.csv
!obj_mapping.csv
!user_mapping.csv
!objective_epochs.csv
!U.csv
!V.csv
!movie_recommendations_adam_PMF.csv
!movie_recommendations_adam_SVD.csv

*.xlsx
